body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #5c6bc0;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

.comparison-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.item {
    margin: 0 10px;
    text-align: center;
}

button {
    background-color: #5c6bc0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

button:hover {
    background-color: #3949ab;
}

footer {
    background-color: #3949ab;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
