body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    min-height: 100vh; /* Allow scrolling if content exceeds viewport height */
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Changed to start content at the top */
    text-align: center;
    padding-bottom: 20px;
    min-height: 100%; /* Ensure this container is at least the height of the viewport */
}

header {
    background-color: #5c6bc0;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

.comparison-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.image-choice {
    width: 50vw;
    max-width: 300px;
    height: auto;
    max-height: 50vh;
    object-fit: contain;
    border: 3px solid #333;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.image-choice:hover {
    border-color: #22a7ff;
    transform: scale(1.05);
}

.result-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    min-height: 100%; /* Ensure the result container also takes up full height */
}

#result {
    font-size: 1.2em;
    padding: 15px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    max-width: 60%;
    word-wrap: break-word;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    flex-direction: column !important;
    margin: 20px auto !important;
    display: block; /* Make sure it's treated as a block element */
}

.correct {
    background-color: #4caf50;
}

.wrong {
    background-color: #f44336;
}

#result a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #5c6bc0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #3949ab;
}

footer {
    background-color: #3949ab;
    color: white;
    padding: 12px 24px;
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
}
